In [1]:
datafile = "titanicdata.htm"

In [2]:
from bs4 import BeautifulSoup
with open(datafile,"r",encoding="Latin-1") as f:
    soup = BeautifulSoup(f,"html.parser")

In [3]:
table = soup.find('table')

In [4]:
import pandas as pd
data = data = pd.read_html(str(table).encode('ascii', errors='replace'), flavor='bs4')[0]

In [5]:
data.head()

,Name,Age,Class/Dept,Ticket,Joined,Job,Boat [Body],Unnamed: 7
0,"AB??-AL-MUN??, Mr N??s??f Q??sim",27,3rd Class Passenger,2699?18 15s 9d,Cherbourg,?,15?,NaN
1,"ABBING, Mr Anthony",42,3rd Class Passenger,5547?7 11s,Southampton,Blacksmith ?,??,NaN
2,"ABBOTT, Mrs Rhoda Mary 'Rosa'",39,3rd Class Passenger,CA2673?20 5s,Southampton,?,A?,NaN
3,"ABBOTT, Mr Rossmore Edward",16,3rd Class Passenger,CA2673?20 5s,Southampton,Jeweller ?,?[190],NaN
4,"ABBOTT, Mr Eugene Joseph",13,3rd Class Passenger,CA2673?20 5s,Southampton,Scholar ?,??,NaN

In [6]:
def cleanup(value):
    return value.replace("?", " ")

data['Name']= data['Name'].apply(cleanup)
data['Boat [Body]']= data['Boat [Body]'].apply(cleanup)
data['Age'] = data['Age'].apply(pd.to_numeric, errors='coerce')
data = data[["Name","Age","Class/Dept","Boat [Body]"]]

data.head()

                               Name   Age           Class/Dept Boat [Body]
0  AB  -AL-MUN  , Mr N  s  f Q  sim  27.0  3rd Class Passenger         15
1                ABBING, Mr Anthony  42.0  3rd Class Passenger
2     ABBOTT, Mrs Rhoda Mary 'Rosa'  39.0  3rd Class Passenger          A
3        ABBOTT, Mr Rossmore Edward  16.0  3rd Class Passenger       [190]
4          ABBOTT, Mr Eugene Joseph  13.0  3rd Class Passenger

In [7]:
def checkPass(class_type):
    if "Passenger" in class_type:
        return "Passenger"
    else:
        return "Crew"
    
data["Crew/Pass"]=data["Class/Dept"].apply(checkPass)
data.head()

,Name,Age,Class/Dept,Boat [Body],Crew/Pass
0,"AB -AL-MUN , Mr N s f Q sim",27.0,3rd Class Passenger,15,Passenger
1,"ABBING, Mr Anthony",42.0,3rd Class Passenger,,Passenger
2,"ABBOTT, Mrs Rhoda Mary 'Rosa'",39.0,3rd Class Passenger,A,Passenger
3,"ABBOTT, Mr Rossmore Edward",16.0,3rd Class Passenger,[190],Passenger
4,"ABBOTT, Mr Eugene Joseph",13.0,3rd Class Passenger,,Passenger

In [8]:
def checkClass(class_type):
    if "Passenger" in class_type:
        return class_type.split(" ")[0]
    else:
        return "Crew"
    
data["Class"]=data["Class/Dept"].apply(checkClass)
data.head()

,Name,Age,Class/Dept,Boat [Body],Crew/Pass,Class
0,"AB -AL-MUN , Mr N s f Q sim",27.0,3rd Class Passenger,15,Passenger,3rd
1,"ABBING, Mr Anthony",42.0,3rd Class Passenger,,Passenger,3rd
2,"ABBOTT, Mrs Rhoda Mary 'Rosa'",39.0,3rd Class Passenger,A,Passenger,3rd
3,"ABBOTT, Mr Rossmore Edward",16.0,3rd Class Passenger,[190],Passenger,3rd
4,"ABBOTT, Mr Eugene Joseph",13.0,3rd Class Passenger,,Passenger,3rd

In [9]:
def checkAdult(age):
    if age>=18:
        return "Adult"
    else:
        return "Child"
    
data["Adult/Child"]=data["Age"].apply(checkAdult)
data.head()

,Name,Age,Class/Dept,Boat [Body],Crew/Pass,Class,Adult/Child
0,"AB -AL-MUN , Mr N s f Q sim",27.0,3rd Class Passenger,15,Passenger,3rd,Adult
1,"ABBING, Mr Anthony",42.0,3rd Class Passenger,,Passenger,3rd,Adult
2,"ABBOTT, Mrs Rhoda Mary 'Rosa'",39.0,3rd Class Passenger,A,Passenger,3rd,Adult
3,"ABBOTT, Mr Rossmore Edward",16.0,3rd Class Passenger,[190],Passenger,3rd,Child
4,"ABBOTT, Mr Eugene Joseph",13.0,3rd Class Passenger,,Passenger,3rd,Child

In [10]:
def checkGender(name):
    firstname = name[name.index(",")+2:]
    salutation = firstname.split(" ")[0]
    if salutation in ["Mr","Master"]:
        return "Male"
    else:
        return "Female"

In [11]:
data["Gender"]=data["Name"].apply(checkGender)
data.head()

,Name,Age,Class/Dept,Boat [Body],Crew/Pass,Class,Adult/Child,Gender
0,"AB -AL-MUN , Mr N s f Q sim",27.0,3rd Class Passenger,15,Passenger,3rd,Adult,Male
1,"ABBING, Mr Anthony",42.0,3rd Class Passenger,,Passenger,3rd,Adult,Male
2,"ABBOTT, Mrs Rhoda Mary 'Rosa'",39.0,3rd Class Passenger,A,Passenger,3rd,Adult,Female
3,"ABBOTT, Mr Rossmore Edward",16.0,3rd Class Passenger,[190],Passenger,3rd,Child,Male
4,"ABBOTT, Mr Eugene Joseph",13.0,3rd Class Passenger,,Passenger,3rd,Child,Male

In [12]:
def checkSurvival(boat):
    if boat.strip()=="" or "[" in boat:
        return 0
    else:
        return 1
data["Survival"]=data["Boat [Body]"].apply(checkSurvival)
data.head()

,Name,Age,Class/Dept,Boat [Body],Crew/Pass,Class,Adult/Child,Gender,Survival
0,"AB -AL-MUN , Mr N s f Q sim",27.0,3rd Class Passenger,15,Passenger,3rd,Adult,Male,1
1,"ABBING, Mr Anthony",42.0,3rd Class Passenger,,Passenger,3rd,Adult,Male,0
2,"ABBOTT, Mrs Rhoda Mary 'Rosa'",39.0,3rd Class Passenger,A,Passenger,3rd,Adult,Female,1
3,"ABBOTT, Mr Rossmore Edward",16.0,3rd Class Passenger,[190],Passenger,3rd,Child,Male,0
4,"ABBOTT, Mr Eugene Joseph",13.0,3rd Class Passenger,,Passenger,3rd,Child,Male,0

In [13]:
data.groupby(['Crew/Pass'])['Survival'].sum()*100/data.groupby(['Crew/Pass'])['Survival'].count()

Crew/Pass
Crew         13.586957
Passenger    35.798817
Name: Survival, dtype: float64

In [14]:
def compare(group,data):
    return data.groupby([group])['Survival'].sum()*100/data.groupby([group])['Survival'].count()

compare("Class",data)

Class
1st     57.428571
2nd     37.883959
3rd     24.259520
Crew    13.586957
Name: Survival, dtype: float64

In [15]:
compare("Gender",data)

Gender
Female    59.272097
Male      15.540181
Name: Survival, dtype: float64

In [16]:
compare("Adult/Child",data)

Adult/Child
Adult    25.078370
Child    33.183857
Name: Survival, dtype: float64

In [17]:
trainingData=data[["Age","Crew/Pass","Class","Adult/Child","Gender","Survival"]]
trainingData.head()

    Age  Crew/Pass Class Adult/Child  Gender  Survival
0  27.0  Passenger   3rd       Adult    Male         1
1  42.0  Passenger   3rd       Adult    Male         0
2  39.0  Passenger   3rd       Adult  Female         1
3  16.0  Passenger   3rd       Child    Male         0
4  13.0  Passenger   3rd       Child    Male         0

In [18]:
def catToNum(series):
    series = series.astype('category')
    return series.cat.codes

catData=trainingData[["Crew/Pass","Class","Adult/Child","Gender"]].apply(catToNum)
trainingData[["Crew/Pass","Class","Adult/Child","Gender"]]=catData
trainingData.head()

C:\Users\sayan\anaconda3\lib\site-packages\pandas\core\frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

    Age  Crew/Pass  Class  Adult/Child  Gender  Survival
0  27.0          1      2            0       1         1
1  42.0          1      2            0       1         0
2  39.0          1      2            0       0         1
3  16.0          1      2            1       1         0
4  13.0          1      2            1       1         0

In [19]:
len(trainingData)

2456

In [20]:
trainingData = trainingData.dropna()
len(trainingData)

2426

In [21]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(trainingData, test_size = 0.2)

In [22]:
train.head()

       Age  Crew/Pass  Class  Adult/Child  Gender  Survival
402   28.0          0      3            0       1         0
661   36.0          0      3            0       1         0
1064  31.0          1      0            0       0         1
750   19.0          1      2            0       1         0
1304  41.0          1      2            0       1         0

In [23]:
test.head()

       Age  Crew/Pass  Class  Adult/Child  Gender  Survival
554   51.0          1      0            0       1         0
33    17.0          0      3            1       1         0
38    36.0          0      3            0       1         0
519   29.0          0      3            0       1         0
2352  29.0          1      1            0       0         1

In [24]:
len(train)

1940

In [25]:
len(test)

486

In [53]:
from sklearn.tree import DecisionTreeClassifier
clf=DecisionTreeClassifier(criterion='entropy',max_depth=None)
clf=clf.fit(train[["Age","Crew/Pass","Class","Adult/Child","Gender"]],train["Survival"])

In [54]:
clf

DecisionTreeClassifier(criterion='entropy')

In [55]:
clf.feature_importances_

array([0.43030924, 0.02384233, 0.17715534, 0.01171136, 0.35698174])

In [56]:
from sklearn import tree
with open("titanic.dot","w") as f:
    f = tree.export_graphviz(clf,
                            feature_names=["Age","Crew/Pass","Class","Adult/Child","Gender"],out_file=f)

In [48]:
predictions = clf.predict(test[["Age","Crew/Pass","Class","Adult/Child","Gender"]])

In [49]:
test[["Age","Crew/Pass","Class","Adult/Child","Gender"]].head()

       Age  Crew/Pass  Class  Adult/Child  Gender
368   40.0          0      3            0       1
891   50.0          0      3            0       1
2254  23.0          1      1            0       1
2361  61.0          1      1            0       0
1109  48.0          0      3            0       1

In [50]:
clf.predict(test[["Age","Crew/Pass","Class","Adult/Child","Gender"]])

array([0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 1], dtype=int64)

In [51]:
clf.predict_proba(test[["Age","Crew/Pass","Class","Adult/Child","Gender"]])

array([[0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.65467626, 0.34532374],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.16129032, 0.83870968],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.65467626, 0.34532374],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.65467626, 0.34532374],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.65467626, 0.34532374],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.65467626, 0.34532374],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.65467626, 0.34532374],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.65467626, 0.34532374],
       [0.16129032, 0.83870968],
       [0.65467626, 0.34532374],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.65467626, 0.34532374],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.65467626, 0.34532374],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.65467626, 0.34532374],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.65467626, 0.34532374],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.65467626, 0.34532374],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.65467626, 0.34532374],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.65467626, 0.34532374],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.65467626, 0.34532374],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.65467626, 0.34532374],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.65467626, 0.34532374],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.16129032, 0.83870968],
       [0.65467626, 0.34532374],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.65467626, 0.34532374],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.65467626, 0.34532374],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.62553191, 0.37446809],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.65467626, 0.34532374],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.65467626, 0.34532374],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.65467626, 0.34532374],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.65467626, 0.34532374],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.65467626, 0.34532374],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.65467626, 0.34532374],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.65467626, 0.34532374],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.65467626, 0.34532374],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.16129032, 0.83870968],
       [0.16129032, 0.83870968],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.65467626, 0.34532374],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.65467626, 0.34532374],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.62553191, 0.37446809],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.65467626, 0.34532374],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.86063751, 0.13936249],
       [0.16129032, 0.83870968]])

In [60]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
#clf=KNeighborsClassifier(n_neighbors=5)
clf = LogisticRegression()
clf=clf.fit(train[["Age","Crew/Pass","Class","Adult/Child","Gender"]],train["Survival"])

In [61]:
clf.predict_proba(test[["Age","Crew/Pass","Class","Adult/Child","Gender"]])

array([[0.92986714, 0.07013286],
       [0.48099464, 0.51900536],
       [0.84389169, 0.15610831],
       [0.89168076, 0.10831924],
       [0.21669032, 0.78330968],
       [0.90449595, 0.09550405],
       [0.57846043, 0.42153957],
       [0.48629638, 0.51370362],
       [0.29675523, 0.70324477],
       [0.87433071, 0.12566929],
       [0.88328524, 0.11671476],
       [0.91151858, 0.08848142],
       [0.87121766, 0.12878234],
       [0.89948654, 0.10051346],
       [0.89168076, 0.10831924],
       [0.86479433, 0.13520567],
       [0.24659821, 0.75340179],
       [0.89954107, 0.10045893],
       [0.26802005, 0.73197995],
       [0.40519613, 0.59480387],
       [0.86141048, 0.13858952],
       [0.86797002, 0.13202998],
       [0.50917168, 0.49082832],
       [0.23632906, 0.76367094],
       [0.52302432, 0.47697568],
       [0.85113712, 0.14886288],
       [0.87737909, 0.12262091],
       [0.69931921, 0.30068079],
       [0.89162249, 0.10837751],
       [0.91151858, 0.08848142],
       [0.84747175, 0.15252825],
       [0.89435914, 0.10564086],
       [0.87737909, 0.12262091],
       [0.91593792, 0.08406208],
       [0.84762745, 0.15237255],
       [0.92219157, 0.07780843],
       [0.71097655, 0.28902345],
       [0.92219157, 0.07780843],
       [0.17286937, 0.82713063],
       [0.86148248, 0.13851752],
       [0.85810281, 0.14189719],
       [0.91151858, 0.08848142],
       [0.69302743, 0.30697257],
       [0.77003979, 0.22996021],
       [0.5021635 , 0.4978365 ],
       [0.85802935, 0.14197065],
       [0.509172  , 0.490828  ],
       [0.61885167, 0.38114833],
       [0.86479433, 0.13520567],
       [0.87121766, 0.12878234],
       [0.3022786 , 0.6977214 ],
       [0.52132594, 0.47867406],
       [0.86479433, 0.13520567],
       [0.89435914, 0.10564086],
       [0.74428341, 0.25571659],
       [0.50031132, 0.49968868],
       [0.92417967, 0.07582033],
       [0.87426442, 0.12573558],
       [0.2910619 , 0.7089381 ],
       [0.48629638, 0.51370362],
       [0.90449595, 0.09550405],
       [0.92612103, 0.07387897],
       [0.12682782, 0.87317218],
       [0.23632906, 0.76367094],
       [0.85106067, 0.14893933],
       [0.87121766, 0.12878234],
       [0.75449206, 0.24550794],
       [0.70518141, 0.29481859],
       [0.87433071, 0.12566929],
       [0.85802935, 0.14197065],
       [0.509172  , 0.490828  ],
       [0.55797542, 0.44202458],
       [0.88894291, 0.11105709],
       [0.89435914, 0.10564086],
       [0.87433071, 0.12566929],
       [0.72236136, 0.27763864],
       [0.6763412 , 0.3236588 ],
       [0.90449595, 0.09550405],
       [0.1330991 , 0.8669009 ],
       [0.5836284 , 0.4163716 ],
       [0.96190719, 0.03809281],
       [0.78929531, 0.21070469],
       [0.89954107, 0.10045893],
       [0.85113712, 0.14886288],
       [0.87121766, 0.12878234],
       [0.92219157, 0.07780843],
       [0.86141048, 0.13858952],
       [0.89435914, 0.10564086],
       [0.85113712, 0.14886288],
       [0.91375388, 0.08624612],
       [0.2735561 , 0.7264439 ],
       [0.88030011, 0.11969989],
       [0.91802622, 0.08197378],
       [0.84381221, 0.15618779],
       [0.86479433, 0.13520567],
       [0.85106067, 0.14893933],
       [0.85810265, 0.14189735],
       [0.91593792, 0.08406208],
       [0.8861447 , 0.1138553 ],
       [0.92797626, 0.07202374],
       [0.89435914, 0.10564086],
       [0.63691064, 0.36308936],
       [0.87731419, 0.12268581],
       [0.92607975, 0.07392025],
       [0.90429593, 0.09570407],
       [0.91146992, 0.08853008],
       [0.84016246, 0.15983754],
       [0.22635906, 0.77364094],
       [0.89954107, 0.10045893],
       [0.88036366, 0.11963634],
       [0.86797002, 0.13202998],
       [0.47399977, 0.52600023],
       [0.89168076, 0.10831924],
       [0.27389608, 0.72610392],
       [0.90199312, 0.09800688],
       [0.5023143 , 0.4976857 ],
       [0.85113712, 0.14886288],
       [0.84389169, 0.15610831],
       [0.86148248, 0.13851752],
       [0.84389152, 0.15610848],
       [0.88036366, 0.11963634],
       [0.85472934, 0.14527066],
       [0.90449595, 0.09550405],
       [0.89168076, 0.10831924],
       [0.48099464, 0.51900536],
       [0.59042513, 0.40957487],
       [0.91151858, 0.08848142],
       [0.12676118, 0.87323882],
       [0.87121766, 0.12878234],
       [0.74958288, 0.25041712],
       [0.62384646, 0.37615354],
       [0.89435914, 0.10564086],
       [0.87114997, 0.12885003],
       [0.91593792, 0.08406208],
       [0.12989726, 0.87010274],
       [0.82854151, 0.17145849],
       [0.86479433, 0.13520567],
       [0.60554015, 0.39445985],
       [0.57175691, 0.42824309],
       [0.9446418 , 0.0553582 ],
       [0.48056773, 0.51943227],
       [0.33301571, 0.66698429],
       [0.2073239 , 0.7926761 ],
       [0.8861447 , 0.1138553 ],
       [0.86479433, 0.13520567],
       [0.90449595, 0.09550405],
       [0.89948654, 0.10051346],
       [0.67484936, 0.32515064],
       [0.68134241, 0.31865759],
       [0.12369005, 0.87630995],
       [0.37136712, 0.62863288],
       [0.83248782, 0.16751218],
       [0.32030717, 0.67969283],
       [0.88036366, 0.11963634],
       [0.65766312, 0.34233688],
       [0.39120591, 0.60879409],
       [0.49330253, 0.50669747],
       [0.48814769, 0.51185231],
       [0.74428341, 0.25571659],
       [0.85810281, 0.14189719],
       [0.86148248, 0.13851752],
       [0.56473043, 0.43526957],
       [0.90449595, 0.09550405],
       [0.89430213, 0.10569787],
       [0.55782664, 0.44217336],
       [0.85113712, 0.14886288],
       [0.29093772, 0.70906228],
       [0.83636141, 0.16363859],
       [0.18949738, 0.81050262],
       [0.85113712, 0.14886288],
       [0.89435914, 0.10564086],
       [0.90449595, 0.09550405],
       [0.49330253, 0.50669747],
       [0.64336908, 0.35663092],
       [0.84016246, 0.15983754],
       [0.90923111, 0.09076889],
       [0.87433071, 0.12566929],
       [0.32681771, 0.67318229],
       [0.32681771, 0.67318229],
       [0.85113712, 0.14886288],
       [0.92011152, 0.07988848],
       [0.88894291, 0.11105709],
       [0.85465459, 0.14534541],
       [0.88888335, 0.11111665],
       [0.8861447 , 0.1138553 ],
       [0.55797542, 0.44202458],
       [0.86479433, 0.13520567],
       [0.20275412, 0.79724588],
       [0.85106067, 0.14893933],
       [0.89697894, 0.10302106],
       [0.32681771, 0.67318229],
       [0.90449595, 0.09550405],
       [0.85106067, 0.14893933],
       [0.89697894, 0.10302106],
       [0.85121336, 0.14878664],
       [0.88036366, 0.11963634],
       [0.8475497 , 0.1524503 ],
       [0.85465459, 0.14534541],
       [0.86797002, 0.13202998],
       [0.88030011, 0.11969989],
       [0.71635618, 0.28364382],
       [0.35195277, 0.64804723],
       [0.22635906, 0.77364094],
       [0.53699128, 0.46300872],
       [0.89954107, 0.10045893],
       [0.90689054, 0.09310946],
       [0.85465459, 0.14534541],
       [0.88036366, 0.11963634],
       [0.84747175, 0.15252825],
       [0.9180716 , 0.0819284 ],
       [0.87731419, 0.12268581],
       [0.89697894, 0.10302106],
       [0.90204643, 0.09795357],
       [0.86141048, 0.13858952],
       [0.47399977, 0.52600023],
       [0.33888875, 0.66111125],
       [0.86803913, 0.13196087],
       [0.74428341, 0.25571659],
       [0.48099464, 0.51900536],
       [0.85810281, 0.14189719],
       [0.84381221, 0.15618779],
       [0.3026394 , 0.6973606 ],
       [0.87737909, 0.12262091],
       [0.50201304, 0.49798696],
       [0.87737909, 0.12262091],
       [0.91151858, 0.08848142],
       [0.88036366, 0.11963634],
       [0.8861447 , 0.1138553 ],
       [0.75480871, 0.24519129],
       [0.84016246, 0.15983754],
       [0.90689054, 0.09310946],
       [0.49457653, 0.50542347],
       [0.85465459, 0.14534541],
       [0.36484579, 0.63515421],
       [0.80770123, 0.19229877],
       [0.82854151, 0.17145849],
       [0.37136712, 0.62863288],
       [0.82854151, 0.17145849],
       [0.87433071, 0.12566929],
       [0.13977556, 0.86022444],
       [0.46019281, 0.53980719],
       [0.86479433, 0.13520567],
       [0.12369005, 0.87630995],
       [0.86148248, 0.13851752],
       [0.20275412, 0.79724588],
       [0.85457965, 0.14542035],
       [0.86797002, 0.13202998],
       [0.84389169, 0.15610831],
       [0.90689054, 0.09310946],
       [0.509172  , 0.490828  ],
       [0.57160921, 0.42839079],
       [0.85810281, 0.14189719],
       [0.84747175, 0.15252825],
       [0.88894291, 0.11105709],
       [0.88328524, 0.11671476],
       [0.90689054, 0.09310946],
       [0.86148248, 0.13851752],
       [0.86479433, 0.13520567],
       [0.86479433, 0.13520567],
       [0.88030011, 0.11969989],
       [0.31423427, 0.68576573],
       [0.87426442, 0.12573558],
       [0.88328524, 0.11671476],
       [0.89162249, 0.10837751],
       [0.88036366, 0.11963634],
       [0.20275412, 0.79724588],
       [0.53529845, 0.46470155],
       [0.80294339, 0.19705661],
       [0.89168076, 0.10831924],
       [0.90449595, 0.09550405],
       [0.90204643, 0.09795357],
       [0.85457965, 0.14542035],
       [0.88036366, 0.11963634],
       [0.92612103, 0.07387897],
       [0.48629638, 0.51370362],
       [0.86803913, 0.13196087],
       [0.2683557 , 0.7316443 ],
       [0.90204643, 0.09795357],
       [0.19384102, 0.80615898],
       [0.86148248, 0.13851752],
       [0.86479433, 0.13520567],
       [0.57679973, 0.42320027],
       [0.86479433, 0.13520567],
       [0.87426442, 0.12573558],
       [0.59221585, 0.40778415],
       [0.8475497 , 0.1524503 ],
       [0.80734187, 0.19265813],
       [0.89168076, 0.10831924],
       [0.82452184, 0.17547816],
       [0.48799698, 0.51200302],
       [0.84016246, 0.15983754],
       [0.20275412, 0.79724588],
       [0.91151858, 0.08848142],
       [0.87737909, 0.12262091],
       [0.88328524, 0.11671476],
       [0.50201304, 0.49798696],
       [0.89435914, 0.10564086],
       [0.89697894, 0.10302106],
       [0.86797002, 0.13202998],
       [0.61899394, 0.38100606],
       [0.48814736, 0.51185264],
       [0.84747175, 0.15252825],
       [0.54395443, 0.45604557],
       [0.63691064, 0.36308936],
       [0.90449595, 0.09550405],
       [0.85113712, 0.14886288],
       [0.29639845, 0.70360155],
       [0.89435914, 0.10564086],
       [0.85457965, 0.14542035],
       [0.88894291, 0.11105709],
       [0.75586207, 0.24413793],
       [0.86797002, 0.13202998],
       [0.87737909, 0.12262091],
       [0.89954107, 0.10045893],
       [0.86148248, 0.13851752],
       [0.85106067, 0.14893933],
       [0.71097655, 0.28902345],
       [0.89162249, 0.10837751],
       [0.45961852, 0.54038148],
       [0.84754953, 0.15245047],
       [0.89430213, 0.10569787],
       [0.94163534, 0.05836466],
       [0.84008144, 0.15991856],
       [0.88036366, 0.11963634],
       [0.88888335, 0.11111665],
       [0.90204643, 0.09795357],
       [0.22148695, 0.77851305],
       [0.88591109, 0.11408891],
       [0.5023143 , 0.4976857 ],
       [0.23632906, 0.76367094],
       [0.61885167, 0.38114833],
       [0.86479433, 0.13520567],
       [0.86141048, 0.13858952],
       [0.18103471, 0.81896529],
       [0.52302432, 0.47697568],
       [0.9180716 , 0.0819284 ],
       [0.89954107, 0.10045893],
       [0.86803913, 0.13196087],
       [0.67522451, 0.32477549],
       [0.84389169, 0.15610831],
       [0.69895949, 0.30104051],
       [0.89435914, 0.10564086],
       [0.50201304, 0.49798696],
       [0.90204643, 0.09795357],
       [0.90449595, 0.09550405],
       [0.47415016, 0.52584984],
       [0.61899394, 0.38100606],
       [0.87737909, 0.12262091],
       [0.92986714, 0.07013286],
       [0.56473043, 0.43526957],
       [0.86141048, 0.13858952],
       [0.88328524, 0.11671476],
       [0.8861447 , 0.1138553 ],
       [0.88328524, 0.11671476],
       [0.88328524, 0.11671476],
       [0.37793566, 0.62206434],
       [0.84381221, 0.15618779],
       [0.72236136, 0.27763864],
       [0.55090043, 0.44909957],
       [0.84008144, 0.15991856],
       [0.8861447 , 0.1138553 ],
       [0.87737909, 0.12262091],
       [0.88608383, 0.11391617],
       [0.41877918, 0.58122082],
       [0.29058505, 0.70941495],
       [0.82418707, 0.17581293],
       [0.88328524, 0.11671476],
       [0.88036366, 0.11963634],
       [0.5836284 , 0.4163716 ],
       [0.72794909, 0.27205091],
       [0.48114522, 0.51885478],
       [0.69895949, 0.30104051],
       [0.87737909, 0.12262091],
       [0.91151858, 0.08848142],
       [0.85106067, 0.14893933],
       [0.53529845, 0.46470155],
       [0.73891085, 0.26108915],
       [0.90204643, 0.09795357],
       [0.63040243, 0.36959757],
       [0.85113712, 0.14886288],
       [0.28518802, 0.71481198],
       [0.88036366, 0.11963634],
       [0.89697894, 0.10302106],
       [0.89697894, 0.10302106],
       [0.49500403, 0.50499597],
       [0.83636141, 0.16363859],
       [0.87737909, 0.12262091],
       [0.80294339, 0.19705661],
       [0.92417967, 0.07582033],
       [0.85113712, 0.14886288],
       [0.88036366, 0.11963634],
       [0.87737909, 0.12262091],
       [0.49500403, 0.50499597],
       [0.86803913, 0.13196087],
       [0.89954107, 0.10045893],
       [0.89435914, 0.10564086],
       [0.86803913, 0.13196087],
       [0.53529845, 0.46470155],
       [0.85810281, 0.14189719],
       [0.80770123, 0.19229877],
       [0.32030717, 0.67969283],
       [0.84747175, 0.15252825],
       [0.92011152, 0.07988848],
       [0.51432578, 0.48567422],
       [0.88036366, 0.11963634],
       [0.86797002, 0.13202998],
       [0.65766312, 0.34233688],
       [0.13643839, 0.86356161],
       [0.87114997, 0.12885003],
       [0.84381221, 0.15618779],
       [0.88322304, 0.11677696],
       [0.86148248, 0.13851752],
       [0.87121766, 0.12878234],
       [0.76503754, 0.23496246],
       [0.64336908, 0.35663092],
       [0.88036366, 0.11963634],
       [0.47399977, 0.52600023],
       [0.83636141, 0.16363859],
       [0.84016246, 0.15983754],
       [0.50917168, 0.49082832],
       [0.82042835, 0.17957165],
       [0.71670354, 0.28329646],
       [0.49515481, 0.50484519],
       [0.85465459, 0.14534541],
       [0.18949738, 0.81050262],
       [0.61221685, 0.38778315],
       [0.12369005, 0.87630995],
       [0.43248649, 0.56751351],
       [0.86148248, 0.13851752],
       [0.29675523, 0.70324477],
       [0.85465459, 0.14534541],
       [0.89697894, 0.10302106],
       [0.85113712, 0.14886288],
       [0.91593792, 0.08406208],
       [0.52132594, 0.47867406],
       [0.39790324, 0.60209676],
       [0.85113695, 0.14886305],
       [0.86472379, 0.13527621],
       [0.89168076, 0.10831924],
       [0.85810281, 0.14189719],
       [0.50201304, 0.49798696],
       [0.143107  , 0.856893  ],
       [0.90204643, 0.09795357],
       [0.69302743, 0.30697257],
       [0.84747175, 0.15252825],
       [0.85113712, 0.14886288],
       [0.85472934, 0.14527066],
       [0.57160921, 0.42839079],
       [0.87737909, 0.12262091],
       [0.84016246, 0.15983754],
       [0.5021635 , 0.4978365 ],
       [0.87737909, 0.12262091],
       [0.18103471, 0.81896529],
       [0.55614703, 0.44385297],
       [0.80770123, 0.19229877],
       [0.88328524, 0.11671476],
       [0.91151858, 0.08848142],
       [0.5630565 , 0.4369435 ],
       [0.85465459, 0.14534541],
       [0.86803913, 0.13196087],
       [0.39845728, 0.60154272],
       [0.90449595, 0.09550405],
       [0.51432578, 0.48567422],
       [0.89168076, 0.10831924],
       [0.87433071, 0.12566929],
       [0.74428341, 0.25571659],
       [0.84008144, 0.15991856],
       [0.69339113, 0.30660887],
       [0.86148248, 0.13851752],
       [0.84389152, 0.15610848],
       [0.25184402, 0.74815598],
       [0.72236136, 0.27763864],
       [0.90449595, 0.09550405],
       [0.89168076, 0.10831924],
       [0.57679973, 0.42320027],
       [0.7599604 , 0.2400396 ],
       [0.67522451, 0.32477549],
       [0.59896872, 0.40103128],
       [0.52831774, 0.47168226],
       [0.40519613, 0.59480387],
       [0.3022786 , 0.6977214 ],
       [0.63198699, 0.36801301],
       [0.90449595, 0.09550405],
       [0.53714125, 0.46285875],
       [0.45266338, 0.54733662],
       [0.27950715, 0.72049285]])

In [62]:
clf.predict(test[["Age","Crew/Pass","Class","Adult/Child","Gender"]])

array([0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 1], dtype=int64)

In [63]:
from sklearn.metrics import accuracy_score
accuracy_score(test["Survival"], predictions)

0.8148148148148148

In [52]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=1000,max_leaf_nodes=15)

In [38]:
clf

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=15,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [39]:
def checkAccuracy(clf):
    clf=clf.fit(train[["Age","Crew/Pass","Class","Adult/Child","Gender"]],train["Survival"])
    predictions = clf.predict(test[["Age","Crew/Pass","Class","Adult/Child","Gender"]])
    return accuracy_score(test["Survival"], predictions)

In [40]:
checkAccuracy(clf)

0.7880658436213992

In [41]:
#There are known issues while installing xgboost on windows. Hence, commented the below code

In [42]:
#from xgboost.sklearn import XGBClassifier

In [43]:
#clf = XGBClassifier(n_estimators=1000)

In [44]:
#checkAccuracy(clf)

In [45]:
#clf

In [46]:
from hyperopt import fmin, tpe, hp, STATUS_OK,Trials

In [47]:
space ={
    'n_estimators':hp.quniform('n_estimators',100,1000,1),
    'max_depth':hp.quniform('max_depth',1,13,1),
    'max_leaf_nodes': hp.quniform('max_leaf_nodes',5,100,1),
    'min_samples_split': hp.quniform('min_samples_split',2,100,1)
}

In [48]:
def score(params):
    params['n_estimators']=int(params['n_estimators'])
    params['min_samples_split']=int(params['min_samples_split'])
    params['max_leaf_nodes']=int(params['max_leaf_nodes'])
    clf = RandomForestClassifier(**params)
    return {'loss':1-checkAccuracy(clf),'status':STATUS_OK}

In [49]:
trials=Trials()

In [50]:
best=fmin(score,space,algo=tpe.suggest,trials=trials,max_evals=250)

In [51]:
print(best)

{'max_depth': 4.0, 'max_leaf_nodes': 19.0, 'min_samples_split': 75.0, 'n_estimators': 720.0}

In [52]:
1-score(best)['loss']

0.7901234567901234